<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Employee</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <script src="/js/script.js"></script> 
</head>
<body>
<div class="left-payroll admin-leftdash">
    <h1>Edit Profile</h1>
    <div class="emp-info">
            <div class="left-emp-info">
                <i class="fi fi-sr-employee-man-alt"></i>   
                <h1><span>{{this.First_Name}}</span> <span>{{this.Last_Name}}</span></h1>
                <h5><span>{{this.Employee_Type}}</span></h5>
              </div>
            <div class="right-emp-info">
                <p>Address: <span>{{this.Address}}</span></p> 
                <p>Contact Number: <span>{{this.Contact_Number}}</span></p> 
                <p>Email: <span>{{this.Email}}</span></p> 
                <p>Password: <span>{{this.Password}}</span></p>
            </div>
    </div>
    <div id="employeeDetails">
        <div>
            <form id="editEmployeeForm" class="editEmployeeForm">
                <div>
                    <label for="Contact_Number">Contact Number:</label>
                    <br><br>
                    <input type="text" id="Contact_Number" name="Contact_Number" class="edit_profile" required>
                </div>
                <div>
                    <br>
                    <label for="Password">Password:</label>
                    <br><br>
                    <input type="password" id="Password" name="Password" class="edit_profile" required>
                </div>
                <div>
                    <br>
                    <label for="Address">Address:</label>
                    <br><br>
                    <input type="text" id="Address" name="Address" class="edit_profile" required>
                </div>
                <br>
                <button type="submit" class="submit_edit">Save</button>
            </form>
        </div>
    </div>
</div>
<div class="right-payroll right-emp-dash">
    <div class="admin-rightdash-top">
        <h1>Hello!</h1>
        <p>As of <span id="date">Monday, January 1, 2024</span></p> 
        <p id="time">00:00:00</p>
    </div>
   <div class="ad-dash-spacer"></div>
    <div class="admin-rightdash-mid">
        <button type="button" class="ad-rightdash-btn">
                <i class="fi fi-rr-employee-man"></i>
                <p class="employee_dashboard"><a href="/employee_dashboard">Employee Dashboard</a></p>
        </button>
        <button type="button" class="ad-rightdash-btn">
                <i class="fi fi-rr-calendar-clock"></i>
                <p class="employee_clockpage"><a href="/employee_clockpage">Time Log</a></p>
        </button>
        <button type="button" class="ad-rightdash-btn">
                <i class="fi fi-rr-bell"></i>
                <p class="employee_notification"><a href="/employee_notification">Company Notifications</a></p>
        </button>
        <button type="button" class="ad-rightdash-btn">
                <i class="fi fi-rr-settings"></i>
                <p class="employee_edit"><a href="/employee_edit">Edit Profile</a></p>
        </button>
    </div>
    <div class="admin-rightdash-bottom">
        <br><br>
        <h2><a href="/logout">Log-Out</a></h2>   
    </div>
</div>
    <script src="/js/user-edit.js"></script>
    <script src="/js/employee-information.js"></script>
</body>
</html>
